* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1210px;
}

img {
  border: none;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

body {
  font-size: 12px;
  font-family: Helvetica,Arial,sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

i {
  font-style: normal;
}

.xqcontent .list {
  margin: 8px 0;
}
.xqcontent .list li {
  float: left;
}
.xqcontent .list a {
  color: #808081;
}

.details-box .floatleft {
  float: left;
  font-size: 12px;
  color: #666666;
}

.image {
  width: 435px;
  position: relative;
  z-index: 12;
}
.image .s-img {
  width: 420px;
  height: 420px;
  border: 1px solid #ddd;
  margin-bottom: 8px;
}
.image .s-img img {
  width: 420px;
  height: 420px;
}
.image .s-img .s-fdj {
  display: none;
  position: absolute;
  filter: alpha(opacity=0);
  -moz-opacity: 0.3;
  opacity: 0.3;
  top: 0;
  left: 0;
  cursor: move;
  z-index: 15;
  background-color: orange;
}
.image .b-fdj {
  background: #fff;
  border: 2px solid #333;
  width: 520px;
  height: 520px;
  position: absolute;
  left: 430px;
  top: 0;
  z-index: 12;
  overflow: hidden;
  display: none;
}
.image .b-fdj img {
  position: absolute;
  width: 650px;
  height: 650px;
}
.image .small-pic {
  position: relative;
  padding: 0 14px;
  width: 392px;
}
.image .small-pic .pic-list {
  width: 320px;
  position: relative;
}
.image .small-pic .pic-list img {
  width: 54px;
  height: 54px;
  border: 2px solid #666666;
  margin-right: 5px;
}
.image .small-pic .pic-list .chag-color {
  border-color: #BF1733;
}
.image .small-pic .comment {
  margin-top: 5px;
  height: 28px;
  line-height: 28px;
}
.image .small-pic .comment .gong {
  float: left;
  margin-right: 10px;
}
.image .small-pic .comment .gong a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/icon-comment.png) no-repeat;
  vertical-align: middle;
}
.image .small-pic .comment .dian-zan a {
  background-position: 3px 0;
}
.image .small-pic .comment .tu-cao a {
  background-position: -62px 0;
}
.image .small-pic .comment .focus a {
  background-position: -116px 0;
}
.image .small-pic .comment .sharebox {
  float: left;
  margin-right: 10px;
}
.image .small-pic .comment .sharebox a {
  float: left;
  font-size: 12px;
  padding-left: 17px;
  line-height: 16px;
  height: 16px;
  background: url(../img/header-icon.png) no-repeat;
  cursor: pointer;
  margin: 6px 6px 6px 0;
}
.image .small-pic .comment .sharebox .more {
  background-position: -34px -93px;
}
.image .small-pic .comment .sharebox .qzone {
  background-position: -34px -53px;
}
.image .small-pic .comment .sharebox .tsina {
  background-position: -34px -73px;
}
.image .small-pic .comment .sharebox .weixin {
  background-position: -34px -114px;
}

.details {
  width: 560px;
  margin-left: 3px;
}
.details h2 {
  font-size: 16px;
  font-family: Microsoft Yahei;
  margin-bottom: 10px;
  margin-top: 4px;
}
.details h2 span {
  color: #cc0033;
}
.details h3 a {
  color: #cc0033;
  font-size: 14px;
  font-family: Microsoft Yahei;
}
.details h3 a:hover {
  text-decoration: underline;
}
.details .price-box {
  width: 560px;
  display: block;
}
.details .price-box dl {
  margin: 11px 0;
}
.details .price-box dl dt {
  display: inline-block;
}
.details .price-box dl dd {
  display: inline-block;
}
.details .price-box dl .price-title {
  vertical-align: -5px;
  color: #cc0033;
}
.details .price-box dl .price {
  color: #cc0033;
  font-family: Microsoft Yahei;
  font-size: 22px;
  vertical-align: middle;
  position: relative;
}
.details .price-box dl .price i {
  position: absolute;
  background: url(../img/tips.png) no-repeat;
  right: -105px;
  top: -11px;
  height: 28px;
  line-height: 22px;
  width: 107px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.details .services {
  z-index: 10;
  position: relative;
}
.details .services dl {
  display: block;
  margin: 11px 0;
}
.details .services dl dt {
  display: inline-block;
}
.details .services dl dd {
  display: inline-block;
}
.details .services dl .over {
  color: #0088cc;
}
.details .services dl .tan-box {
  display: none;
  width: 400px;
  min-height: 150px;
  position: absolute;
  left: 0;
  top: 21px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  padding: 12px;
  z-index: 10;
}
.details .services dl .tan-box .all-nav li {
  float: left;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  border: 1px solid #cbcbcb;
  margin-right: 12px;
  border-bottom: 0;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}
.details .services dl .tan-box .all-nav li i {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 3px;
  background: url(../img/header-icon.png) 0 -138px no-repeat;
}
.details .services dl .tan-box .all-nav .dz-nav {
  border: 1px solid #f26052;
  position: relative;
  top: 1px;
  border-bottom: 0;
}
.details .services dl .tan-box #list {
  border-top: 1px solid #f26052;
  color: #005aa0;
  font-size: 12px;
  padding-left: 20px;
}
.details .services dl .tan-box #list div {
  margin-top: 10px;
}
.details .services dl .tan-box #list div span {
  display: inline-block;
  margin: 2px 4px;
  margin-right: 35px;
}
.details .services dl .tan-box #list div span a {
  padding: 3px;
  color: cornflowerblue;
}
.details .services dl .tan-box #list div span:hover a {
  background: #cc0033;
  color: #fff;
}
.details .services dl .tan-box #list .close {
  position: absolute;
  right: 12px;
  top: 10px;
  width: 20px;
  height: 16px;
  background: url(../img/ShopsDetailBtn.png) no-repeat 0 -445px;
}
.details .services dl .tan-box #list .list-three {
  display: none;
}
.details .services dl .tan-box #list .list-two {
  display: none;
}
.details .services dl .tan-box #list .active {
  background: #cc0033;
  color: #fff;
}
.details .services dl .address {
  position: relative;
}
.details .services dl .address #destination {
  display: inline-block;
  padding: 2px 6px;
  border: 1px solid #cbcbcb;
  cursor: pointer;
  background-color: #fff;
  z-index: 11;
  position: relative;
  top: 1px;
  height: 15px;
}
.details .services dl .address #destination i {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 3px;
  background: url(../img/header-icon.png) 0 -162px no-repeat;
}
.details .services dl .address .product-existence {
  color: #666666;
}
.details .amounts {
  z-index: 1;
  position: relative;
  border-top: 1px dashed #666666;
  border-bottom: 1px dashed #666666;
  margin-right: 30px;
}
.details .amounts dl {
  margin: 18px 0;
}
.details .amounts dl dt {
  vertical-align: 3px;
  display: inline-block;
}
.details .amounts dl dd {
  display: inline-block;
  max-width: 440px;
  vertical-align: middle;
}
.details .amounts .product-count span {
  border: 1px solid #ccc;
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  font-size: 16px;
  cursor: pointer;
}
.details .amounts .product-count input {
  height: 20px;
  width: 32px;
  text-align: center;
}
.details .payment {
  margin-top: 10px;
}
.details .payment dt {
  vertical-align: 10px;
  display: inline-block;
}
.details .payment dd {
  display: inline-block;
}
.details .payment .payment-link a {
  display: inline-block;
  background: url(../img/icon-payment.jpg) no-repeat;
  width: 52px;
  height: 27px;
  margin-right: 12px;
}
.details .payment .payment-link .zhifubao {
  background-position: 0 0;
}
.details .payment .payment-link .caifutong {
  background-position: -73px 0;
}
.details .payment .payment-link .yinlian {
  background-position: -144px 0;
  width: 76px;
}
.details .payment .payment-btn {
  margin: 10px 0;
}
.details .payment .payment-btn a {
  width: 148px;
  margin-right: 40px;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
}
.details .payment .payment-btn .yellow-btn {
  background-color: #f99619;
}
.details .payment .payment-btn .red-btn {
  background-color: #cc0033;
}
.details .payment .four-ensure li {
  float: left;
  font-size: 12px;
  margin-right: 35px;
}

.pdt {
  width: 200px;
}

.quality-box {
  border: 1px solid #dcdcdc;
  text-align: center;
}
.quality-box h3 {
  color: #585858;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dcdcdc;
  margin: 10px 20px;
}
.quality-box ul {
  overflow: hidden;
  padding-bottom: 10px;
}
.quality-box li {
  text-align: center;
  float: left;
  width: 84px;
  margin-left: 12px;
  margin-top: 16px;
}
.quality-box li .one {
  background-position: 0 0;
}
.quality-box li .two {
  background-position: -57px 0;
}
.quality-box li .three {
  background-position: 0 -60px;
}
.quality-box li .four {
  background-position: -57px -60px;
}
.quality-box li i {
  display: inline-block;
  width: 52px;
  height: 52px;
  background: url(../img/icon-quality.png) no-repeat;
}
.quality-box li dl {
  font-size: 14px;
}
.quality-box li dt {
  color: #1f1f1f;
}
.quality-box li dd {
  color: #585858;
}
.quality-box .online-box {
  margin: 10px;
  padding-top: 10px;
  border-top: 1px dashed #dcdcdc;
}

.goumai {
  display: none;
  width: 350px;
  margin-left: -197px;
  border: #a8a8a8 solid 2px;
  background-color: #fff;
  padding: 15px 20px;
  position: fixed;
  left: 50%;
  top: 35%;
  box-shadow: 2px 2px 3px #d8d8d8;
  z-index: 208;
}
.goumai h3 {
  line-height: 25px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 16px;
  background: url(../img/DetailsIconn.png) no-repeat 0 -121px;
}
.goumai .clearfix a {
  color: #0088cc;
}
.goumai .clearfix .viewcart {
  width: 163px;
  height: 37px;
  background: url(../img/Button.png) no-repeat 0 -503px;
  display: inline-block;
  margin-left: 24px;
  float: left;
}
.goumai .clearfix .continue {
  width: 89px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  color: #4d4d4d;
  margin-left: 13px;
  margin-top: 3px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  float: left;
}
.goumai span {
  position: absolute;
  display: inline-block;
  right: 5px;
  top: 10px;
  width: 20px;
  height: 21px;
  background: url(../img/ShopsDetailBtn.png) no-repeat 0 -445px;
  cursor: pointer;
}

.zhezhao {
  display: none;
  width: 100%;
  height: 1457px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: black;
  opacity: 0.4;
  z-index: 100;
}

/*# sourceMappingURL=details.css.map */
