*{
    margin:0;
    padding:0;
    
}
.wrapper{
    margin:0 auto;
    width:1210px;
}
img{
    border:none;
}
h2{
    font-weight: normal;
}
h3{
    font-weight:normal;
}
h4{
    font-weight:normal;
}
body{
    font-size: 12px;
    font-family: Helvetica,Arial,sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
em{
    font-style: normal;
  
}
i{
    font-style:normal;
}
