@charset 'utf-8';
@import 'public';
.logo{
    margin:30px;
    img{
       width:270px;
       margin-top:10px;
    }
}
.container{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
.login-form{
    float: right;
    width: 313px;
    border: 1px solid #d9d9d9;
    border-top: 2px solid #f25546;
    form{
        width: 256px;
        margin: 0 auto;
        .l-nav{
            margin-top: 8px;
            font-size: 14px;
            font-family: "Microsoft Yahei";
            overflow: hidden; 
            a{
                float: left;
                width: 50%;
                text-align: center;
                height: 44px;
                line-height: 44px;
                color: #999;
                border-bottom: 1px solid #d9d9d9;
                
            }
            .zh-nav{
                border-bottom-color:red;
            }
        }
        .wx-nav{
            i{
                background:url(../img/wx.png) no-repeat;
                display: inline-block;
                vertical-align: middle;
                width: 26px;
                height: 22px;
            }
        }
        
        ul{
            text-align: center;
            margin: 28px 0 15px;
        }
        .wx-hide{
            display:none;
            text-align: center;
            div{
                width:180px;
                height:180px;
                position:relative;
                img{
                    position:absolute;
                    left:30px;
                    height:180px;
                    width:180px; 
                }
            }
            p{
                span{
                    display: inline-block;
                    margin-top:16px;
                    padding-right:18px;
                }
            }
        }
        .a-login{
            
            //display:none;
            .error{
                display: none;
                color: #999;
                font-size: 12px;
                line-height: 24px;
                padding-left: 10px;
                border: 1px solid #f25546;
                background-color: #fbf3f5;
                margin: 20px 0;
            }
            .input-group{
                height: 34px;
                line-height: 34px;
                border: 1px solid #d9d9d9;
                border-radius: 4px;
                margin-top: 20px;
                position: relative;
                label{
                    display: inline-block;
                    width: 72px;
                    height: 18px;
                    line-height: 18px;
                    color: #666;
                    text-align: center;
                    border-right: 1px solid #d9d9d9;
                }
                input{
                    padding: 6px 0 6px 20px;
                    width: 150px;
                    border: none;
                    color: #333;
                }
            }
            .l-r{
                overflow: hidden;
                height: 52px;
                line-height: 52px;
                p{
                    float:left;
                    label{
                        color: #666;
                        margin-left: 4px;
                    }
                }
                a{
                    color: #2e8ae5;
                    float: right;
                    margin-top: 18px;
                    height: 16px;
                    line-height: 16px;  
                }
            }
            .login-btn{
                display: block;
                margin-bottom: 4px;
                color: #fff;
                background-color: #f25546;
                height: 36px;
                line-height: 36px;
                border-radius: 4px;
                text-align: center;
                font-family: "Microsoft Yahei";
                font-size: 16px;
            }
            .l-r2{
                overflow: hidden;
                height: 52px;
                line-height: 52px;
                p{
                    float:left;
                    span{
                        color:#666;
                    }
                    a{
                        display: inline-block;
                        height: 18px;
                        line-height: 18px;
                        width:20px;
                        margin:0 5px;
                        vertical-align: middle;
                    }
                    .sina{
                        background:url(../img/wb.png) no-repeat;
                    }
                    .qq{
                        background:url(../img/qq.png) no-repeat;
                    }
                }
                
                .free-register{
                    float: right;
                    margin-top: 18px;
                    height: 16px;
                    line-height: 16px;  
                    color:#f25546;     
                }
            }
            
        }
       
    }
}


.footer{
    width: 1210px;
    margin: 15px auto;
    text-align: center;
    padding-top: 24px;

    p{
        text-align: center;
        line-height: 30px;
        font-size: 12px;
    }
    .Copyright{
            color: #787878;
            line-height: 30px;
            padding-bottom:6px;
    }
    .Copyright-til{
        a{
            color:#333;
        }
        .a2{
            color:#6495ED;
            text-decoration: underline;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}