@charset 'utf-8';
@import 'public';
.logo{
    margin:30px;
    img{
       width:270px;
       margin-top:10px;
    }
}
.mid{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
.register-form{
    float: right;
    width: 313px;
    border: 1px solid #d9d9d9;
    border-top: 2px solid #f25546;
    form{
        width: 256px;
        margin: 0 auto;
    }
}
.l-nav{
    margin-top: 8px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    overflow: hidden;
    p{
        height: 44px;
        line-height: 44px;
        color: #333;
        border-bottom: 1px solid #d9d9d9;
    }
}
.register{
    margin-top:20px;
    .error{
        display:none;
        color: #999;
        font-size: 12px;
        line-height: 24px;
        width:243px;
        height:24px;
        padding-left: 10px;
        border: 1px solid #f25546;
        background-color: #fbf3f5;
        margin-bottom: 12px;
    }
    .group{
        height: 34px;
        line-height: 34px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        margin-bottom: 12px;
        position: relative;
        label{
            display: inline-block;
            width: 72px;
            height: 18px;
            line-height: 18px;
            color: #666;
            text-align: center;
            border-right: 1px solid #d9d9d9;
        }
        input{
            padding: 6px 0 6px 20px;
            width: 150px;
            border: none;
            color: #333;
        }
        .btn{
            position: absolute;
            right: -1px;
            top: -1px;
            color: #fff;
            height: 36px;
            line-height: 36px;
            width: 80px;
            text-align: center;
            background-color: #ff9562;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        
    }
    .gat{
        height:auto;
        .codeBox{
            display:none;
          
            height: 28px;
            line-height: 28px;
            margin: 6px 0;
            
            a{
                text-align: center;
                width: 60px;
            }
            
            input{
                display: inline-block;
                vertical-align: middle;
                margin: 0 5px;
                width: 70px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 4px;
                border: 1px solid #d9d9d9;
            }
            .ensure-btn{
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                width: 60px;
                height: 26px;
                line-height: 26px;
                border-radius: 4px;
                color: #fff;
                background-color: #ff9562;
            }
            
        
        }
    }
    .register-btn{
        display: block;
        margin-bottom: 4px;
        color: #fff;
        background-color: #f25546;
        height: 36px;
        line-height: 36px;
        border-radius: 4px;
        text-align: center;
        font-family: "Microsoft Yahei";
        font-size: 16px;
    }
    .l-r{
        overflow: hidden;
        height: 52px;
        line-height: 52px;
        p{
            float:left;
            span{
                color:#666;
            }
            a{
                display: inline-block;
                height: 18px;
                line-height: 18px;
                width:20px;
                margin:0 5px;
                vertical-align: middle;
            }
            .sina{
                background:url(../img/wb.png) no-repeat;
            }
            .qq{
                background:url(../img/qq.png) no-repeat;
            }
        }
        .go{
            float: right;
            margin-top: 18px;
            height: 16px;
            line-height: 16px;  
            color:#f25546;     
        }
    }
}
.footer{
    width: 1210px;
    margin: 15px auto;
    text-align: center;
    padding-top: 24px;

    p{
        text-align: center;
        line-height: 30px;
        font-size: 12px;
    }
    .Copyright{
            color: #787878;
            line-height: 30px;
            padding-bottom:6px;
    }
    .Copyright-til{
        a{
            color:#333;
        }
        .a2{
            color:#6495ED;
            text-decoration: underline;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}
