@charset 'utf-8';
@import 'public';
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.head-top{
    height: 36px;
    width: 100%;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
    line-height: 36px;
    font-family: 'Simsun';
    font-size: 13px;
    color: #666;
    position: relative;
   
}
.head-top-left{
    float:left;
    margin-left:40px;
    margin-right:500px;
    a{
        padding:0 5px;
    }
    .head-icon{
        width: 13px;
        height: 13px;
        display: inline-block;
        background:url(../img/header-icon.png) no-repeat 0 0;
    } 
    span{
        margin-left:4px;
    }
    .hide-box{
        position: absolute;
        top: 36px;
        left: 40px;
        background-color: #fff;
        border: 1px solid #bfbfbf;
        border-top: none;
        z-index: 9;
        display: none;
        text-align: center;
        width:212px;
        height:200px;
        img{
            display:block;
            width:160px;
            margin-left:25px;
        }
    } 
    a{
      width:87px;
      height:36px;
      display: block; 
      text-align: center;
    }  
}
.head-top-right{
    float:left;
    .right-left{
        float:left;
        span{
                margin:0 6px;
            }
        a:hover{
           text-decoration: underline; 
        }
    }
    .right-right{
        float:left;
        li{
            float:left; 
            padding:0 8px; 
            position:relative;        
            span{
                margin:0 5px;
                }
            a{
                color: #666; 
                height:36px;
                display: block; 
            }
            .a-icon{
                margin:0 4px;
               width: 13px;
               height: 13px;
               display: inline-block;
               background:url(../img/header-icon.png) no-repeat -37px 0px; 
            }
            .hide-box{
                position: absolute;
                top: 36px;
                right: -1px;
                background-color: #fff;
                border: 1px solid #bfbfbf;
                border-top: none;
                z-index: 9;
                //display: none;
                text-align: left;
                a{
                    line-height: 24px;
                    text-align: left;
                    text-indent: 16px;
                }
               
            }
        }  
        .my-home{
            border: 1px solid #f7f7f7;
            .hide-box{
                width: 211px;
                height:100px;
                display:none;
                a{
                    float: left;
                    width: 105px;
                    height: 24px;
                    
                }  
            }
        }
        .my-home:hover{
            
            background:#fff;
            border: 1px solid #bfbfbf;
            border-bottom:none;
            border-top:none;
        }
        .my-home:hover .hide-box{
            display:block;
        }
        .help-center{
            border: 1px solid #f7f7f7;
            .hide-box{
                display:none;
                width: 89px;
                a{
                    width: 89px;
                    height: 24px;
                }  
            }
        }
        .help-center:hover{
            background:#fff;
            border: 1px solid #bfbfbf;
            border-bottom:none;
            border-top:none;
        }
        .help-center:hover .hide-box{
            display:block;
        }
        .dao{
            border: 1px solid #f7f7f7;
            .hide-box{
                display:none;
                width: 212px;
                height:360px;
                
                a{
                    float: left;
                    width: 100px;
                    height: 24px;
                    
                } 
                h3{
                    display: block;
                    font-size: 14px;
                    color: #333;
                    width: 180px;
                    overflow: hidden;
                    font-weight: bold;
                    text-indent: 15px;
                }
            }
        }  
        .dao:hover{
            
            background:#fff;
            border: 1px solid #bfbfbf;
            border-bottom:none;
            border-top:none;
        }
        .dao:hover .hide-box{
            display:block;
        }     
    }
}
.head-mid{
    width:1210px;
    margin:0 auto;
    height: 80px;
    padding:28px 0;
   // background-color:yellow;
    h1{
        float:left;
    };
    div{
        float:left;
    };
}
.Logo{
    margin-right:30px;
}
.change-city{
    margin-top:10px;  
    margin-right:30px;
}
.search{
    margin-top:26px;
    margin-right:30px;
}
.change-b{
   // width: 64px;
    height: 48px;
    text-align: center;
    position: relative;
    padding:5px 12px;
    em{
        display: inline-block;
        vertical-align: middle;
        background:url(../img/header-icon.png) no-repeat;
        width: 26px;
        height: 27px;
        background-position: -38px -19px;
        margin-right: 5px;
        margin-top: 13px;
        border-right:2px solid #eee;
    }
    span{        
        font-size: 16px;
        font-family: 'microsoft yahei';
        line-height: 16px;
        
        color: #333;
    }
    a{
        color:blue;
        font-size: 8px;
        display:block;
        margin-left:38px;
    }
}
.box{
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    color: #333;
    padding: 9px 0 9px 20px;
    border: #cc0033 solid 1px;
    border-right-width: 0px;
    position: relative;
    cursor: pointer;
    width: 86px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 101; 
    ul{
        position: absolute;
        left: -1px;
        top: 37px;
        display: none;
        border: #cc0033 solid 1px;
        border-top: 0;
        background-color: #fff;
        z-index: 9999;
        line-height: 30px;
        padding-top: 5px;
        li{
            white-space: nowrap;
            width: 86px;
            padding-left: 20px;
            overflow: hidden;
        }
    } 
    i{
        position: absolute;
        top: 17px;
        right: 12px;
        width: 9px;
        height: 5px;
        background:url(../img/header-icon.png) no-repeat 0 -142px;
    }  
}
.searchInput{
    input{
        display: inline-block;
        width: 280px;
        height: 20px;
        line-height: 20px;
        color: #333;
        padding: 9px 10px 9px 20px;
        border: #cc0033 solid 1px;
        font-size: 14px;
        float: left;
        font-family: "Microsoft Yahei";
    }
    a{
        float: left;
        display: inline-block;
        width: 82px;
        height: 40px;
        color: #fff;
        font-family: Microsoft YaHei;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        background-color: #cc0033;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
.d-tu{
    width: 150px;
    height: 60px;
    margin-top:16px;
}


//nav
.wrapper{
    width:1210px;
    margin:0 auto; 
}
.nav{
    background: #cc0033;
    .wrapper{
        position:relative;
        height:40px;
    }
}
.nav-left{
    float:left;
    background: #cc0033;
    li{     
        position: relative; 
        float:left; 
        .nav-hide{
           display:none;
           width:122px;
           position:absolute;
           top:40px;
           left:0;
           a{
               color:#333333;
               display: block;
               font-size: 14px;
               padding-left: 31px;
               width: 91px; 
               line-height: 40px;  
           }           
        }       
    }
    li:hover{
        background:#6a0000;
        }
    li:hover .nav-hide{
       display:block;
       border:1px solid #BBBBBB;
       border-top:none;
    }
    li:hover em{
        background-position:0 -32px;
    }
    a{
        display: block;
        padding: 0 30px;
        color: #fff;
        line-height: 40px;
        
        em{
           position:absolute;
           right:13px;
           top:15px;
           width:12px;
           height:12px;
           background:url(../img/header-icon.png) no-repeat 0 -16px;
        }
    }
    
}
.nav-right{
    position:relative;
   //background: #cc0033;
    .phone {
        position: absolute;
        top: -11px;
        right: 0px;
        width:180px;
        height:51px;
    }
    .hide{
        border:1px solid #333333;
        border-top:none;
        position:absolute;
        right:0px;
        top:40px;
        display: none;
        width:180px;
        height:340px;
        img{
            display:block;
            width: 140px;
            height: 140px;
        }
        a{
            .img1{
              margin-top:10px;  
            }
            display:block;
            font-size: 10px;
            color:#333;
            line-height: 30px;
            margin-left:20px;
            span{
               color:cornflowerblue;
               margin-left:6px;
            }
        }
        .img2{
            margin-left:20px;
        }
        em{
            display: block;
            margin-left:42px;
            font-size: 10px;
        }
        
    } 
}
.nav-right:hover .hide{
    display: block;
}


//foot
.footer-bot{
    background:#eee;
    height:665px;
}
.service{
    float:left;
    padding:30px 0;
    dl{
        width:155px;
        height:155px;
        float:left;
        dt{
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 16px;
            padding-left: 30px;
        }
        dd{
            height: 24px;
            line-height: 24px;
            padding-left: 30px;
            position: relative;
            a{
              color:#666;
              font-size: 12px; 
            }
            .dd-hide{
                display:none;
            }
            
            .arr-icon{
                position:absolute;
                top:7px;
                left:96px;
                width:12px;
                height:12px;
                background:url(../img/header-icon.png) no-repeat 0 -59px;
            }
            .wx-icon{
                position:absolute;
                top:6px;
                left:13px;
                width:14px;
                height:14px;
                background:url(../img/header-icon.png) no-repeat -34px -114px;
            }
            .wb-icon{
                position:absolute;
                top:6px;
                left:13px;
                width:14px;
                height:14px;
                background:url(../img/header-icon.png) no-repeat -34px -73px;
            }
            .app-icon{
                position:absolute;
                top:6px;
                left:13px;
                width:14px;
                height:14px;
                background:url(../img/000.jpg) no-repeat;
            }
            .phone-hide{
                display:none;
            }
        }
       
    }
    .d-focus{
       width:181px;
       height:155px; 
    }
    .footer-msg{
       float:left;
       width:215px;
       height:143px;
       .icon{
            padding-right:8px;
            display:inline-block;
            width:13px;
            height:14px;
            background:url(../img/header-icon.png) no-repeat 0 -80px;
       }
       h3{
            font-size: 16px;
            color: #333;
            font-family: 'microsoft yahei';
            padding-bottom: 25px;
       }
       .phone-num{
           line-height:28px;
           color:#d22b2b;
           font-size: 26px;
           margin-bottom:3px;
       }
       .time{
           line-height:19px;
           font-size: 17px;
       }
       a{
           margin-top:20px;
           border-radius:3px;
           font-size: 12px;
           display:block;
           width:130px;
           text-align:center;
           color:#fff;
           line-height:30px;
           background:#d22b2b;
       }
    }
}
